<div class="container">
  <div class="row">
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets\Appleiphone11pro.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Apple iPhone 11 Pro</h5>
              <p class="card-text">Apple iPhone 11 Pro (256GB) - Midnight Green.
                5.8-inch Super Retina XDR OLED display
                Water and dust resistant (4 meters for up to 30 minutes, IP68)
                Triple-camera system with 12MP Ultra Wide, Wide, and Telephoto cameras; Night mode, Portrait mode, and 4K video up to 60fps
              </p>
              <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
          </div>
           
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets\oppo.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">OPPO k1</h5>
              <p class="card-text">Oppo K1 (Opal Black, 6GB RAM, Super AMOLED Display, 128GB Storage, 6000mAH Battery).5.8-inch Super Retina XDR OLED display
                Water and dust resistant (4 meters for up to 30 minutes, IP68)
                Triple-camera system with 12MP Ultra Wide, Wide, and Telephoto cameras; Night mode, Portrait mode, and 4K video up to 60fps</p>
              <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
          </div>
          

      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets\Samsung.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Samsung DUOS</h5>
              <p class="card-text">Samsung Duos (Opal Black, 6GB RAM, Super AMOLED Display, 128GB Storage, 6000mAH Battery).5.8-inch Super Retina XDR OLED display
                Water and dust resistant (4 meters for up to 30 minutes, IP68)
                </p>
              <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
          </div>
          

      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets\vivo.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">VIVO 11 pro</h5>
              <p class="card-text">Vivo 11 pro (Opal Black, 6GB RAM, Super AMOLED Display, 128GB Storage, 6000mAH Battery). 5.8-inch Super Retina XDR OLED display
                Water and dust resistant (4 meters for up to 30 minutes, IP68)
                Triple-camera system with 12MP Ultra Wide, Wide, and Telephoto cameras; Night mode, Portrait mode, and 4K video up to 60fps</p>
              <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
          </div>
          

      </div>
  </div>

</div>
